In [ ]:
#Data Transformation

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

path = "/content/drive/My Drive/Rainfall prediction/Sub_Division_IMD_2017.csv"
data = pd.read_csv(path)

In [ ]:

data = data.drop(['ANNUAL','JF','MAM','JJAS','OND'],axis=1)
data_s=data.melt(id_vars=["SUBDIVISION","YEAR"])
#data_s.info

data_s

                     SUBDIVISION  YEAR variable  value
0      Andaman & Nicobar Islands  1901      JAN   49.2
1      Andaman & Nicobar Islands  1902      JAN    0.0
2      Andaman & Nicobar Islands  1903      JAN   12.7
3      Andaman & Nicobar Islands  1904      JAN    9.4
4      Andaman & Nicobar Islands  1905      JAN    1.3
...                          ...   ...      ...    ...
50251                Lakshadweep  2013      DEC   26.7
50252                Lakshadweep  2014      DEC   62.3
50253                Lakshadweep  2015      DEC  159.0
50254                Lakshadweep  2016      DEC   74.7
50255                Lakshadweep  2017      DEC  160.1

[50256 rows x 4 columns]

In [ ]:
data_s = data_s.assign(MONTH=pd.to_datetime(data_s.variable, format='%b').dt.month).drop(['variable'],axis=1)
data_s = data_s.assign(Date=pd.to_datetime(data_s[['YEAR', 'MONTH']].assign(day=1)))
final_data = data_s.drop(['YEAR','MONTH'],axis=1)
main_data = pd.pivot_table(final_data, values='value', columns=['SUBDIVISION'],index=["Date"])

In [ ]:
#saving the transformed data to csv file
main_data.to_csv("/content/drive/My Drive/Rainfall prediction/final_data.csv")

In [ ]:
main_data = main_data.drop(['Andaman & Nicobar Islands','Arunachal Pradesh','Lakshadweep'],axis=1)
#main_data.isnull().sum()
main_data = main_data.reset_index()
main_data = main_data.fillna(main_data.mean(),axis=0)

In [ ]:
main_data

SUBDIVISION       Date  Assam & Meghalaya  ...  West Rajasthan  West Uttar Pradesh
0           1901-01-01               27.1  ...             6.7                51.4
1           1901-02-01               19.5  ...             0.0                25.6
2           1901-03-01               30.6  ...             1.1                 9.5
3           1901-04-01              223.0  ...             0.0                 0.7
4           1901-05-01              207.0  ...             6.1                 5.6
...                ...                ...  ...             ...                 ...
1399        2017-08-01              483.1  ...            43.1               129.8
1400        2017-09-01              345.4  ...            21.2               140.7
1401        2017-10-01              212.1  ...             0.0                 0.6
1402        2017-11-01               10.3  ...             0.6                 0.0
1403        2017-12-01               11.0  ...             1.8                 1.6

[1404 rows x 34 columns]